@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@200;400;700&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

h3 {
  font-weight: 400;
}

.courses:hover {
  cursor: pointer;
}

.App {
  text-align: center;
}


